.CodeMirror {
    height: 100%;
    overflow: auto;
    max-height: 100%;
    }
.CodeMirror-scroll {
    height: 100%;
    max-height: 100%;
    }

#editor_body {
    width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 1em solid #191820;
    top: 50px;
}

#editor_header {
    color: #f4eee2;
    font-family: serif;
    font-weight: bold;
    font-size: 200%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
    position: relative;
    top: 45px;
}
#editor_header h2 {
    margin-bottom: 0px;
}

#editor_code {
    float: right;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 500px;
    height: 500px;
    background-color: #f4eee2;
}

#editor_image {
    float: left;
    width: 500px;
}

#image_container {
}

#editor {
    height: 40em;
}

#gallery {
    max-width: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}
#gallery .gallery_image {
    float: left;
    margin: 1em;
    border: 3px dashed #ddd;
}
#gallery .gallery_image a {
    margin: 0px;
    padding: 0px;
    height: 0px;
}
#gallery .gallery_image img {
    margin: 0px;
}

.code_errors {
    color: #fff;
}
